
<!DOCTYPE html>
<html>
<head>
  <title>云与数</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>基础架构云管家</h1>
  <p>让云数字创新如您所愿</p> 
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4>混合云设施</h4>
        <p>云平台支撑架构</p>
  
        <p>云平台的运营扩展</p>
      </div>
<div class="col-sm-4">
    <h4>大数据及人工智能</h4>
    <p>大数据支撑架构</p>
    <p>人工智能支撑架构</p>
  </div>
  <div class="col-sm-4">
    <h4>物联网运营平台</h4> 
    <p>魔力接口物联网数据平台</p>
    <p>物联网的大数据运营</p>
  </div>
</div>
</div>

</body>
</html>
